 
 <link rel="import" href="../bower_components/px-card/px-card-mobileH.html"/>
  <link rel="import" href="../bower_components/px-card/px-card-shopname.html"/>

  
   <style>
    #Iron-col1{
    padding: 0px 40px;
    margin-top: 0px;
    margin-bottom:5px;
    background-color: #005cb9;
    border: 1px solid #005cb9;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    font-size: 18px;
    width: 100%;
    text-align: left;
    color: white;
    height:40px;
           }
    
    #Jobtable{
     width:100%;
     height:495px;
     margin-top:5px;
    }
    
    #component{
     width:50%;
    height:100px
    }
    #create{
    width:50%;
    height:100px
    }
    
    #h3{
    margin-top: 5px;
    margin-bottom: 5px;
    }

    </style>
   
   
     

  <!-- <px-card-shopname id="Iron-col1"></px-card-shopname>   -->
  <px-card id="Iron-col1" class="width-s1"><label><h3 id="h3" class="txt-align-center wAuto">Job Details</h3></label></px-card>
  <px-card-mobileH id="Jobtable" class="w643" >
  </px-card-mobileH>


  
  

